@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
body{
  background-image: url(inside.jpg);
  background-size: auto;
  mix-blend-mode: 0.8;
}
.center{
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 100px;
  color: #fff;
  transition: 0.5s;
  font-size: 18;
  
}
.center tr{
  tr:nth-child(even) 
 tr:nth-child(odd) 
}
.center tr th{
  font-size: 25;
}

.navbar {
  width: 100%;
  background-color: #263238;
  position: fixed !important;
  bottom: 0;
  transition: 00.2s;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none !important;
  font-size: 17px;
  width: 25%; 
  text-align: center; 
}


.navbar a:hover {
  background-color: rgb(54, 82, 68);
  letter-spacing: 2px;
  color: #fff;
  transition: 0.2s;
}
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left; 
  }
}
.logo{
  position: relative;
  transition: 0.3s;
  filter: invert(1);
  padding-top: 20px;
  align-items: center;
  padding-bottom: 20px;
  padding-left: 20px;
}
.logo:hover{
  letter-spacing: 5px;
}
.text p{
  filter: invert(1);
  font-size: 18;
  font-weight: 800;
  padding-left: 20px;
  padding-bottom: 20px;
}
.text h2{
  filter: invert(1);
  padding-left: 20px;
  padding-bottom: 20px;
}
.text h3{
  filter: invert(1);
  padding-left: 20px;
  padding-bottom: 20px;
}
.text{
  padding-left: 20px;
}
.text a{
  display: inline-block;
    font-size: 1em;
    background: rgba(255, 255, 255, 0.747);
    padding: 10px 30px;
    text-decoration: none !important;
    color: #111;
    margin-top: 10px;
    margin-left: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.2s;
  font-weight: 900;
}

.text a:hover {
  letter-spacing: 6px;
  background: #fff;
}

#table2 {
  background: url(inside3.jpg);
  background-size: fill;
  margin-bottom: 40px;
  color: #fff;
  transition: 0.5s;
  mix-blend-mode: 0.1;
  
}
.table2 tr{
  tr:nth-child(even) 
 tr:nth-child(odd) 
}


.col_white_amrc { color:#FFF;}
footer { width:100%; background-color:#263238; min-height:250px; padding:10px 0px 25px 0px ;}
.pt2 { padding-top:40px ; margin-bottom:20px ;}
footer p { font-size:13px; color:#CCC; padding-bottom:0px; margin-bottom:8px;}
.mb10 { padding-bottom:15px ;}
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li {padding:0px 0px 5px 0px;}
.footer_ul_amrc li a{ color:#CCC;}
.footer_ul_amrc li a:hover{ color:#fff; text-decoration:none;}
.fleft { float:left;}
.padding-right { padding-right:10px; }

.footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px;}
.footer_ul2_amrc li p { display:table; }
.footer_ul2_amrc li a:hover { text-decoration:none;}
.footer_ul2_amrc li i { margin-top:5px;}

.bottom_border { border-bottom:1px solid #323f45; padding-bottom:20px;}
.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.foote_bottom_ul_amrc li { display:inline;}
.foote_bottom_ul_amrc li a { color:#999; margin:0 12px;}

.social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none;  }
.social_footer_ul li { padding-left:20px; padding-top:10px; float:left; }
.social_footer_ul li a { color:#CCC; border:1px solid #CCC; padding:8px;border-radius:50%;}
.social_footer_ul li i {  width:20px; height:20px; text-align:center;}

*{
  animation: fadeInAnimation ease 3s;
          animation-iteration-count: 1;
          animation-fill-mode: forwards;
      }
      @keyframes fadeInAnimation {
          0% {
              opacity: 0;
          }
          100% {
              opacity: 1;
          }
